<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Vuelos</title>
</head>
<body>
    <h1>Listado de Vuelos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for vuelo in vuelos %}
            <tr>
                <td>{{ vuelo.id }}</td>
                <td>{{ vuelo.nombre }}</td>
                <td>{{ vuelo.tipo }}</td>
                <td>{{ vuelo.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}">Volver al inicio</a>
</body>
</html>
